.layout {
    display: flex;
    height: 100vh;
    transition: margin-left 0.3s ease;
    overflow: auto;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    min-width: 410px;
}

.content {
    padding: 18px;
    flex-grow: 1;
    max-width: 1438px;
    margin: auto;
    width: 100%;
}

@media (max-width: 868px) {
    .content {
        padding: 10px;
    }
}
