.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #bbb9b959;
    padding-block: 0.6rem;
}
.rowHeader {
    font-weight: 500;
}
.container svg {
    width: 30px;
    height: 30px;
}

.border {
    position: absolute;
    width: calc(100% + 1.5rem);
    height: 100%;
    background-color: transparent;
    top: 0.65rem;
    border-radius: 5rem;
    border-top: 1px solid rgb(83, 82, 82);
}
.description {
    font-size: 11px;
    color: gray;
}
