.sidebar {
    width: 260px;
    background-color: white;
    color: #444050;
    transition: width 0.3s ease;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.5rem 0 rgb(47, 43, 61, 0.12);
    height: 100%;
    padding-bottom: 0;
}

.sidebar.collapsed {
    width: 80px;
}
.logo {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    padding-left: 1.25rem;
    padding-top: 0.9rem;
}

.logoText {
    color: #444050;
    font-size: 1.375rem;
    margin-left: 0.75rem;
    font-weight: 700 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
}
.taskManager {
    display: block;
    font-size: 12px;
    color: #8e8e8e;
    margin-top: 4px;
    font-weight: normal;
}

.nav {
    margin-top: 6px;
    height: 100%;
    padding-right: 0.2rem;
}

.nav > ul {
    padding: 0.3rem;
    padding-right: 0.2rem;
    padding-top: 0;
    list-style: none;
    max-height: calc(100% - 4.5rem);
    overflow: auto;
}
.nav li {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    cursor: pointer;
    color: var(--text-color);
    margin: 0 0.75rem;
    margin-inline: 0;
    font-size: 0.9375rem;
    min-height: 33px;
    /* padding: 0.5rem 0.75rem; */
    text-transform: capitalize;
}
.nav li a {
    text-decoration: none;
    color: var(--text-color);
}
.nav li svg {
    width: 27px;
    height: 27px;
}
.nav .menuItem {
    margin: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-inline: 0;
}
.nav .menuItem p {
    font-size: 0.9375rem;
}
.dashboard_menu_item p {
    position: relative;
    top: 0.08rem;
}
.nav .menuItem.active {
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    box-shadow: 0 2px 6px var(--primary-box-shadow);
    color: var(--text-active-color);
}

.nav .menuItem:not(.menuItem.active):hover,
.group_menu:not(.active_group_menu):hover {
    border-radius: 0.375rem;
    background-color: var(--primary-hover-color);
    color: black !important;
}
.nav .menuItem.active > a,
.nav .menuItem.active svg {
    color: var(--text-active-color);
}
.group_menu svg {
    width: 24px;
    height: 24px;
}
.divider {
    border-bottom: 1px solid #8784845e;
    width: 100%;
}

.icon {
    color: var(--text-color);
}

.collapsedMenuItem {
    display: flex;
    align-items: center;
    justify-content: center;
}
.transform svg {
    transform: rotate(90deg);
}
.group_menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
}
.active_group_menu {
    background-color: var(--primary-active-group-menu);
}
.group_menu p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
@media (max-width: 868px) {
    .sidebar .open {
        width: 260px;
        position: fixed;
        left: 0;
        top: 0;
    }
    .overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1000;
    }
}

@media (max-width: 350px) {
    .sidebar svg {
        width: 18px;
    }

    .sidebar .logo img {
        width: 30px;
    }
}
.nav > ul {
    scrollbar-gutter: stable both-edges;
}

.nav > ul::-webkit-scrollbar {
    width: 3.5px;
}

.nav > ul:hover::-webkit-scrollbar {
    width: 3.5px;
}

.nav > ul::-webkit-scrollbar-track {
    background: transparent;
}

.nav > ul::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.nav > ul:hover::-webkit-scrollbar-thumb {
    background-color: rgb(219, 218, 222, 0.8);
}
.circle_icon svg {
    width: 18px !important;
}
.sidebar_icon svg {
    width: 22px !important;
}
