.table_container {
    background-color: var(--table-background-color);
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0;
    box-shadow: var(--table-box-shadow);
    max-width: var(--table-max-width);
    margin: auto;
    overflow: auto;
}
.table_container table {
    width: 100%;
    border-collapse: collapse;
}
.table_container > div {
    min-width: 968px;
}

.grid_view_container {
    background-color: var(--backgroundColor);
}
/* .grid_view_container > div > div {
    background-color: white;
} */
