.divider {
    @apply relative;
}

.dividerLine {
    @apply absolute inset-0 flex items-center;
}

.dividerLine::before {
    @apply w-full border-t border-[#D8D6DE];
    content: "";
}

.divider span {
    @apply relative flex justify-center text-sm px-4 bg-white text-[#6E6B7B];
    width: fit-content;
    margin: auto;
}
