.banner_container > img:first-of-type {
    max-width: 468px;
    margin-bottom: 4rem;
}

.signinPrompt {
    @apply text-center;
}

.signinPrompt p {
    @apply text-[#6E6B7B] text-sm;
}

.signinPrompt a {
    @apply text-[#7367F0] hover:underline transition duration-200 ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.signinPrompt a svg {
    width: 9px;
}
