@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --backgrounColor: #f8f8fa;
    --foreground: #171717;
    --v-global-theme-primary: 115, 103, 240;
    --primary-hover-color: rgba(211, 206, 207, 0.2);
    --primary-active-group-menu: rgba(211, 206, 207, 0.3);
    --primary-active-color: #ff4c51;
    --primary-box-shadow: rgba(115, 103, 240, 0.3);
    --text-color: #444050;
    --text-secondary-color: #5a5a5a9c;
    --text-active-color: white;
    --bg-warning-color: #ff9f43;
    --primary-font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --text-white: white;
    --text-muted: #6d6b77;
    --violet-color: rgb(115, 103, 240);
    --violet-light-color: rgb(233, 231, 253);
    --red-color: #ff4c51;
    --red-light-color: #ffe2e3;
    --green-color: #28c76f;
    --green-light-color: #ddf6e8;
    --blue-color: #00bad1;
    --blue-light-color: #d6f4f8;
    --orange-color: #ff9f43;
    --orange-text-color: #f77f10;
    --orange-light-color: #fff0e1;
    --disabled-bg-color: #d3d3d3;
    --disabled-text-color: #a0a0a0;

    --theme-error: 255, 76, 81;
    --theme-success: 40, 199, 111;
    --theme-primary: 245 134 52;
}
/* :root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #f8f8fa;
        --foreground: black;
        --primary-font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        --error-color: rgb(255, 76, 81);
    }
} */

* {
    font-family: var(--primary-font-family) !important;
}

body {
    color: var(--foreground);
    background: var(--backgrounColor);
    font-family: var(--primary-font-family);
}
.card {
    box-shadow: 0 3px 12px rgba(47, 43, 61, 0.14), 0 0 transparent, 0 0 transparent;
    background-color: white;
    padding: 2rem;
    max-width: 1500px;
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.3rem;
}

::-webkit-scrollbar {
    width: 3.5px;
}

*:hover::-webkit-scrollbar {
    width: 3.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: rgb(219, 218, 222, 0.8);
}
@keyframes dots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}

.loading_dot::after {
    content: ""; /* Default text */
    animation: dots 1.5s steps(3, end) infinite; /* Animate through steps */
    margin-left: 5px;
    width: 1rem;
    display: inline-block;
}
