.rememberMe label {
    @apply text-sm text-[#6E6B7B] cursor-pointer;
}

.forgotPassword {
    @apply text-sm text-[#7367F0] hover:underline transition duration-200 ease-in-out;
}
.remember_me_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.checkbox_container {
    margin-bottom: 0.2rem;
    margin-left: -0.1rem;
}
